{% extends 'base.html.twig' %}

{% block title %}{{ user_name }} Inventory{% endblock %}

{% block body %}
    
    <script>
    function setLink() {
        document.location='\/user-inventory\/1\/' + document.getElementById('filterBy').value + '\/' + document.getElementById('filter').value;
    }
    </script>

    {% if app.user %}
        <div class="mb-3">
            <p>You are logged in as {{ app.user.username }}</p>
        </div>
        <div class="mb-3">
            <p>You can: <a href="{{ path('app_logout') }}">Logout</a> | <a href="{{ path('products_view', {'page': 1}) }}">View Products</a></p>
        </div>
    {% endif %}

    {% if inventory %}
        <div class="mb-3">
            <p>There are {{ totalInventory }} inventory items.</p>
        </div>
        <div class="mb-3">
            <form name="filterForm">
                <label for="">Sort by </label>
                <select name="filterBy" id="filterBy">
                    <option value="productId">Product ID</option>
                    <option value="sku">SKU</option>
                </select>
                <label for="">ID or SKU</label>
                <input type="text" name="filter" id="filter">
            </form>
            <a name="filterLink" href="#" onClick="setLink();">FILTER</a>
        </div>
        <table class="products">
            <tr class="table-nav-row">
                {% if page > 1 %}
                <td class="table-nav-item"><a href="{{ path('inventory_view', {'page': page - 1}) }}">Previous Page</a></td>
                {% else %}
                <td class="table-nav-item">Previous Page</td>
                {% endif %}
                {% if inventory|length == 20 %}
                <td class="table-nav-item"><a href="{{ path('inventory_view', {'page': page + 1}) }}">Next Page</a></td>
                {% else %}
                <td class="table-nav-item">Next Page</td>
                {% endif %}
            </tr>
            <tr class="table-header-row">
                <td class="table-header-item">Product Name</td>
                <td class="table-header-item">Sku</td>
                <td class="table-header-item">Quantity</td>
                <td class="table-header-item">Color</td>
                <td class="table-header-item">Size</td>
                <td class="table-header-item">Price</td>
                <td class="table-header-item">Cost</td>
            </tr>
            {% for inventory_item in inventory %}
                <tr class="table-row">
                    <td class="table-item">{{ inventory_item.product.getProductName() }}</td>
                    <td class="table-item">{{ inventory_item.inventory.getSku() }}</td>
                    <td class="table-item">{{ inventory_item.inventory.getQuantity() }}</td>
                    <td class="table-item">{{ inventory_item.inventory.getColor() }}</td>
                    <td class="table-item">{{ inventory_item.inventory.getSize() }}</td>
                    <td class="table-item">${{ inventory_item.inventory.getPriceDollars() }}</td>
                    <td class="table-item">${{ inventory_item.inventory.getCostDollars() }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="mb-3">
            <p>There are no inventory items.  <a href="{{ path('inventory_view', {'page': 1}) }}">View Inventory</a> or <a href="{{ path('products_view', {'page': 1}) }}">View Products</a></p>
        </div>
    {% endif %}

{% endblock %}
